*{
  margin: 0;
  padding: 0;
}
ul, ol{
  list-style: none;
}
a{
  text-decoration: none;
}


.campaign_2109 .popup_01{
  background-image: url('../images/m/popup1_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  width: 720px;
  margin: 0 auto;
  height: 2855px;
  padding: 1586px 0 1200px 0;
}
.campaign_2109 .popup_01 .start_btn a {
  width: 283px;
  margin: 0 auto;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.campaign_2109 .popup_02{
  background-image: url('../images/m/popup2_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  min-width: 720px;
  margin: 0 auto;
  height: 4488px;
  display: none;
  position: relative;
  padding: 1482px 0 2087px 0;
}
.campaign_2109 .popup_02 .slide{
  width: 520px;
  margin: 0 auto;
  margin-bottom: 780px;
  position: relative;
}
.campaign_2109 .popup_02 .swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.campaign_2109 .popup_02 .swiper-slide img {
  display: block;
  width: 392px;
  margin: 0 auto;
  height: 100%;
  object-fit: cover;
}

.campaign_2109 .popup_02 .slide .swiper-button-next{
  background: url('../images/m/btn_next.png');
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
}
.campaign_2109 .popup_02 .slide .swiper-button-prev{
  background: url('../images/m/btn_prev.png');
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
}
.campaign_2109 .popup_02 .slide .swiper-button-next::after,
.campaign_2109 .popup_02 .slide .swiper-button-prev::after{
  display: none;
}

.campaign_2109 .popup_02 .start_btn a {
  width: 283px;
  margin: 0 auto;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.campaign_2109 .popup_02 .input_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}
.campaign_2109 .popup_02 .input_flex .test_score {
  background-image: url('../images/m/test_score_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.campaign_2109 .popup_02 .input_flex .test_answer {
  background-image: url('../images/m/test_answer_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.campaign_2109 .popup_02 .input_flex input {
  width: 179px;
  height: 68px;
  border: #ff7f00 3px solid;
  text-align: center;
  font-size: 21px;
  letter-spacing: -1px;
  font-weight: 800;
  color: #808080;
  outline: none;
  margin-right: 5px;
}
.campaign_2109 .popup_02 .input_flex .attend{
  width: 119px;
  height: 74px;
  border: none;
  outline: none;
  cursor: pointer;
}



.campaign_2109 .privacy_agree_bg{
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  z-index: 999;
}
.campaign_2109 .privacy_agree{
  margin-top: 100px;
  width: 100%;
}
.campaign_2109 .privacy_agree .agree_bg{
  background-image: url('../images/m/agree_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  width: 730px;
  height: 532px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.campaign_2109 .privacy_agree .privacy_input{
  display: flex;
  justify-content: center;
}
.campaign_2109 .privacy_agree .privacy_input>div{
  margin-top: 126px;
}
.campaign_2109 .privacy_agree .privacy_input>div img{
  width: 61px;
  height: 125px;
  margin-right: 15px;
  margin-top: 7px;
}
.campaign_2109 .privacy_agree .privacy_input>div input{
  display: flex;
  flex-direction: column;
  width: 365px;
  border: none;
  height: 36px;
  margin-bottom: 12px;
  font-size: 18px;
  padding-left: 20px;
  box-shadow: 0 3px #e6e6e6;
}
.campaign_2109 .privacy_agree .privacy_input>div input:focus{
  outline: none;
}
.campaign_2109 .privacy_agree .agree_btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.campaign_2109 .privacy_agree .agree_btn img{
  cursor: pointer;
  width: 143px;
  height: 52px;
  margin-top: 191px;
}
.campaign_2109 .privacy_agree .agree_btn .agree{
  margin-right: 30px;
}




.campaign_2109 .attend_popup_bg{
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index:1;
}
.campaign_2109 .attend_popup{
  margin-top: 300px;
  width: 100%;
}
.campaign_2109 .attend_popup .attend_bg{
  background-image: url('../images/m/close_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 730px;
  height: 330px;
  margin: 0 auto;
  z-index: 999;
}
.campaign_2109 .attend_popup .attend_bg .attend_close{
  width: 165px;
  margin: 0 282px;
  height: 59px;
  cursor: pointer;
  margin-top: 254px;
}




.layer-open{
  overflow:hidden;    
}